{{#if objEmpty}}
	<h2 class="cntr">Scrape New York Times <br> </h2>
{{else}}
	{{#each articleObj}}

		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 articleRows">

				<!-- header -->
				<div class="row">
					<div class="col-sm-9 col-md-9 col-lg-9">
						<a href="{{this.link}}" style="font-size: 20px">{{this.headline}}</a> <br>
						<p>{{this.byline}}</p>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 saveBtnCol">
						<button class="saveArtBtn" data-id={{this._id}} type="button">Save Article</button>
					</div>
				</div>
				<hr>
				<!-- summary -->
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p style="float: left;"><img alt="image" src="{{this.imageURL}}" width="50px" height="50px">&nbsp;{{this.summary}}</p>
					</div>
				</div>
			</div>
		</div>
		
	{{/each}}
{{/if}}